.fs_left_span  { 
  float:left; 
}
.fs_right_span { 
  /* float:right; */ margin-right:0.5em; margin-top:0.33em; margin-left:0.5em; 
}
.fieldset-summary { 
  color:black; text-shadow: none; margin:5 5 0 0; padding-left:3px; padding-right:2px; line-height:normal; text-indent:0px; border-radius:0.5em;
}
.fs_red { 
  background-color: #f65;
}
.fs_red_light { 
  background-color: #f97;
}
.fs_yellow { 
  background-color: #ff8;
}
.fs_green_light { 
  background-color: #9f9;
}
.fs_green { 
  background-color: #5f5;
}
.fs_white { 
  background-color: #fff;
}
